@model wevap.Models.Student
@{
    ViewBag.Title = "AddStudentSubject";
    List<wevap.Models.QueryModels.SubjectLevel> items = ViewBag.query;
    List<wevap.Models.Level> levels = ViewBag.level;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h2>Añadir Asignaturas a: @Html.DisplayFor(model => model.NameStudent)</h2>
<hr />
<br />
<div class="container">
    <div class="col-md-2">
        
        <strong>Cursos:</strong>
        <br />
        <ul class="list-group" id="lista">
            @foreach (var level in levels)
             {

                <li class="list-group-item">
                    <input type="checkbox" id="@level.Stage" name="@level.Stage"  value="@level.Id_Level" />
                    @level.Stage
                </li>

                }
        </ul>
    </div>
    <div class="col-md-4">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Créditos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                 {
                    <tr>
                     <td>@item.Description</td>
                     <td>@item.Credits</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>

<hr />
<br />
<button id="enviar">enviar</button>


<script type="text/javascript">
    $(document).ready(function () {
        var estado = false;
        $(':checkbox').change(function () {  

            if ($(this).is(":checked")) {
                if ($(this).val() == 1) {
                    console.log("curso 9")
                    $("#X").attr('disabled', 'disabled')
                    $("#XI").attr('disabled', 'disabled')
                    
                }
                else if ($(this).val() == 2) {
                    console.log("curso 10")
                    $("#IX").attr('disabled', 'disabled')
                    $("#XI").attr('disabled', 'disabled')
                }
                else {
                    console.log("curso 11")
                    $("#IX").attr('disabled', 'disabled')
                    $("#X").attr('disabled', 'disabled')
                }
               
            } else {
                console.log("auish")
                $("#IX").removeAttr('disabled')
                $("#X").removeAttr('disabled')
                $("#XI").removeAttr('disabled')
            }
            
        })
        //$('#X').change(function () {
        //    if($(this).is(":checked"))
        //        console.log("auish")
        //    else
        //        console.log("naa")
        //})

        console.log(estado);
        $('#enviar').on('click', function (event) {
            console.log("hello")
        })
    })
   
</script>